*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
/main.mtc2
/main.log
/main.fdb_latexmk
/main.brf
/main.toc
/main.out
/main.mtc5
/main.mtc4
/main.mtc3
/main.synctex.gz
/main.fls
/main.aux
/auto/Chapter2.el
/auto/Chapter1bis.el
